.navbar {
  background-image: none;
  background-color: #428bca;
  padding-top: 0;
  padding-bottom: 0;

}
form .btn {
  border-color:  #cdddeb;
}
.sb-search{
  position: relative;
}
.sb-search-input{
  position: absolute;
  top: 60px;
  right: -10px;
  width: 250px;
  display: none;
}
.sb-search .btn:active {
  display: block;
}

}
.advertising {
  padding-top: 200px;
}
.ads {
  margin-top: 8rem;
}

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;


/* Nav links */
li .nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}
.jumbotron {
    padding: 2rem 2rem;
}
.card-text{
	font-size: 14px;
}
.card-footer{
	font-size: 14px;
	padding: 7px;
}
a.btn{
	font-size: 14px;
}
.card-header{
	background-color: #428bca;
	color:#fff;
}
.list-group-item.active{
	background-color: #0043ff2e;
}
